.body-privacy-policy {
    font-family: "Ubuntu", sans-serif;
    background-color: #202127;
    color: white;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
    text-align: left;
}

.container-privacy-policy {
    width: 80%;
    margin: 2% 2% 2% 5%;
}

h1, h2 {
    color: #FFFFFF;
}

p, li {
    color: #FFFFFF;
}

h1 {
    font-size: 24px;
    text-align: left;
    margin-bottom: 2%;
}

h2 {
    font-size: 18px;
}

p, ul {
    font-size: 14px;
}

ul {
    padding: 0 0 0 1%;
}

li {
    padding: 5px 0;
}

.section {
    margin-bottom: 1%;
}

@media (max-width: 767px) {
    .body-privacy-policy {
        flex-direction: row;
    }
}
