body {
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    background-color: #202127;
    color: white;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
    text-align: left;
}

@media (max-width: 767px) {
    body {
        flex-direction: column-reverse;
    }
    .app-screenshots-container img {
        width: 80%;
        height: auto;
    }
}

.container {
    flex-direction: column;
    display: flex;
    width: 80%;
    max-width: 600px;
    min-width: 300px;
    height: auto;
    min-height: 25%;
    margin-top: 15%;
    margin-left: 10%;
    border-radius: 12px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #202127;
    justify-content: center;
    align-items: flex-start;
}
.logo {
    font-size: 64px;
    font-weight: bold;
    margin: 0;
}
.slogan {
    font-size: 18px;
}

.download-button {
    background-color: #FFFFFF;
    padding: 8px 10px;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 30%;
}
.download-button a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
}
.download-button img {
    width: 25px;
    margin-left: 15px;
}

.app-screenshots-container {
    margin-left: 5%;
    margin-top: 2%;
}
.app-screenshots-container img {
    max-width: 70%;
    height: auto;
    display: block;
}
.footer-links {
    position: absolute;
    left: 50%;
    bottom: 2%;
    transform: translateX(-50%);
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-links a,
.footer-links .dumbbell-icon {
    margin: 0 30px;
    text-decoration: none;
    color: white;
}
.dumbbell-icon

@media (min-width: 768px) {
    .container {
        width: 40%;
        margin-top: 12%;
        margin-left: 10%;
    }
    .logo {
        font-size: 4rem;
    }
    .slogan {
        font-size: 1.2rem;
    }
}
