{% extends "base.html" %}

{% block title %}Contact Us{% endblock %}

{% block content %}
<body class="body-contact-us">
    <div class="container-contact-us">
        <h1 id="contact-us-title">КОНТАКТЫ</h1>
        <p id="contact-us-description">Свяжитесь с нами, и мы поможем вам по любым вопросам, которые могут у вас возникнуть</p>
        <div class="container-ways-to-contact">
            <div class="way-button">
                 <img class="button-icons" src="{{ url_for('static', filename='images/email-icon.png') }}" alt="Email Icon">
                 <a href="mailto:support@ascoach.online" class="text-on-way-buttons">support@ascoach.online</a>
            </div>
            <div class="way-button">
                <img class="button-icons" src="{{ url_for('static', filename='images/telegram-icon.png') }}" alt="Telegram Icon">
                <a href="https://t.me/ascoach_support" class="text-on-way-buttons" target="_blank">@ascoach_support</a>
            </div>
        </div>
    </div>
</body>
{% endblock %}
