{% extends "base.html" %}

{% block title %}Fitness Online{% endblock %}

{% block content %}
<body class="body-main">
    <div class="container">
        <div class="logo">AsCoach</div>
        <p class="slogan">
            Platforms where personal fitness trainers help you achieve your goals by providing personalized training plans
            that will make your workouts as effective as possible
        </p>
        <div class="download-button">
            <a href="#download">Download App</a>
            <img src="{{ url_for('static', filename='images/apple-icon.png') }}" alt="AppStore">
        </div>
    </div>

    <div class="app-screenshots-container">
        <img src="{{ url_for('static', filename='images/app-screenshots.png') }}" alt="App Screenshots" class="app-screenshot">
    </div>

    <div class="footer-links">
        <a href="{{ url_for('get_privacy_policy') }}">Privacy Policy</a>
        <img src="{{ url_for('static', filename='images/dumbbell.svg') }}" alt="Dumbbell" class="dumbbell-icon">
        <a href="mailto:support@ascoach" class="contact">Contact</a>
        <a href="mailto:support@ascoach.online" class="contact">support@ascoach.online</a>
    </div>
</body>
{% endblock %}
