{% extends "base.html" %}

{% block title %}Fitness Online{% endblock %}

{% block content %}
<body class="body-main">
    <div class="container">
        <div class="logo">AsCoach</div>
        <p class="slogan">
            Platforms where personal fitness trainers help you achieve your goals by providing personalized training plans
            that will make your workouts as effective as possible
        </p>
        <div class="download-button">
            <a href="https://apps.apple.com/ru/app/ascoach/id6452119737" target="_blank">Download App</a>
            <img src="{{ url_for('static', filename='images/apple-icon.png') }}" alt="AppStore">
        </div>
    </div>

    <div class="app-screenshots-container">
        <img src="{{ url_for('static', filename='images/app-screenshots.png') }}" alt="App Screenshots" class="app-screenshot">
    </div>

    <div class="footer-links">
        <a href="{{ url_for('get_privacy_policy_page') }}" class="privacy-link">Privacy Policy</a>
        <p class="divider">|</p>
        <a href="{{ url_for('get_contact_page') }}" class="contact">Contact Us</a>
    </div>
</body>
{% endblock %}
