{% extends "base.html" %}

{% block title %}Privacy Policy{% endblock %}

{% block content %}
<body class="body-privacy-policy">
    <div class="container-privacy-policy">
        <h1>ПОЛИТИКА КОНФЕНДЕНЦИАЛЬНОСТИ МОБИЛЬНОГО ПРИЛОЖЕНИЯ AsCoach</h1>
        <div>
            <ol>
                <li class="section">
                    <h3>ВВЕДЕНИЕ</h3>
                    <p>
                        Мы уважаем Вашу конфиденциальность и стремимся защитить Вашу личную информацию.
                        Этот документ предназначен для информирования о том, какую инфомацию мы собираем,
                        и как мы её используем. Если у Вас есть вопросы или опасения, пожалуйста, свяжитесь с нами по электронной почте:
                        <a href="mailto:support@ascoach" style="color: #B8FF5F; font-weight: bold;">support@ascoach</a>
                    </p>
                </li>

                <li class="section">
                    <h3>СБОР ИНФОРМАЦИИ</h3>
                    <ul>
                        <li><strong>Номер телефона: </strong>Используется для верификации аккаунта</li>
                        <li><strong>Имя и фамилия: </strong>Используются для персонализации профиля и улучшения пользовательского опыта в приложении</li>
                        <li><strong>Адрес электронной почты: </strong>Используется для рассылки уведомлений и коммуникации с клиентской поддержкой</li>
                        <li><strong>Пароль: </strong>Используется для защиты доступа к Вашему аккаунту. Пароль не хранится в первоначальном виде</li>
                        <li><strong>Идентификатор мобильного устройства: </strong>Используются для управления отправкой push-уведомлений на Ваше мобильное устройство</li>
                    </ul>
                </li>

                <li class="section">
                    <h3>ЗАЩИТА ВАШЕЙ ИНФОРМАЦИИ</h3>
                    <ul>
                        <li>Мы применяем все необходимые технические и административные меры для защиты Вашей информации от несанкционированного доступа или разглашения</li>
                        <li>Мы не раскрываем Вашу личную информацию третьим лицам, за исключением случаев, предусмотренных законом или Вашего явного согласия</li>
                    </ul>
                </li>

                <li class="section">
                    <h3>ВАШИ ПРАВА</h3>
                    <ul>
                        <li>Право на доступ и обновление информации, которую мы о Вас храним</li>
                        <li>Право отказаться от получения маркетинговых материалов</li>
                        <li>Запросить удаление учетной записи и связанной с ней информации</li>
                    </ul>
                </li>

                <li class="section">
                    <h3>ИЗМЕНЕНИЯ В ПОЛИТИКЕ КОНФИДЕНЦИАЛЬНОСТИ</h3>
                    <p>
                        Мы оставляем за собой право вносить изменения в нашу политику конфиденциальности.
                        Все обновления будут публиковаться на нашем сайте и в приложении.
                    </p>
                </li>

                <li class="section">
                    <h3>КОНТАКТНАЯ ИНФОРМАЦИЯ</h3>
                    <p>
                        Если у Вас есть вопросы относительно этой политики или Вы хотите воспользоваться своими правами,
                        пожалуйста, свяжитесь с нами по электронной почте:
                        <a href="mailto:support@ascoach" style="color: #B8FF5F; font-weight: bold;">support@ascoach</a>
                    </p>
                </li>

            </ol>
        </div>

</div>
</body>
{% endblock %}
