{% extends "base.html" %}

{% block title %}Политика конфиденциальности{% endblock %}

{% block content %}
<div class="container-privacy-policy">
    <h1>Политика конфиденциальности AsCoach</h1>

    <div class="section">
        <div>
            <h2>Введение</h2>
            <p>Спасибо, что выбрали AsCoach. Мы обязуемся защищать вашу личную информацию и ваше право на конфиденциальность. Если у вас есть вопросы или опасения относительно этой политики конфиденциальности или наших методов обработки вашей личной информации, пожалуйста, свяжитесь с нами по support@ascoach.</p>
        </div>
    </div>

    <div class="section">
        <div>
            <h2>Информация, которую мы собираем</h2>
            <ul>
                <li><strong>Адрес электронной почты: </strong>Используется для регистрации аккаунта, коммуникации и клиентской поддержки.</li>
                <li><strong>Номер телефона: </strong>Используется для верификации аккаунта и мер безопасности. Номера телефонов хешируются для повышения безопасности.</li>
                <li><strong>Токены FCM: </strong>Используются для управления отправкой уведомлений на ваше устройство.</li>
                <li><strong>Имя и фамилия :</strong>Используются для персонализации сервиса и улучшения пользовательского опыта в приложении.</li>
                <li><strong>Пароль: </strong>Используется для защиты доступа к вашему аккаунту. Пароли хешируются в рамках нашего протокола безопасности.</li>
            </ul>
        </div>
    </div>

    <div class="section">
        <div>
            <h2>Как мы используем вашу информацию</h2>
            <ul>
                <li>Для создания и управления вашим аккаунтом.</li>
                <li>Для персонализации и настройки функций, производительности и поддержки приложения в соответствии с вашими потребностями.</li>
                <li>Для коммуникации с вами, напрямую или через наших партнеров, включая обслуживание клиентов, предоставление обновлений и другой информации относительно приложения, а также для маркетинговых и рекламных целей.</li>
                <li>Для отправки вам уведомлений через приложение.</li>
            </ul>
        </div>
    </div>

    <div class="section">
        <div>
            <h2>Безопасность вашей информации</h2>
            <ul>
                <li><strong>Хеширование: </strong>Номера телефонов и пароли хешируются для предотвращения несанкционированного доступа.</li>
                <li><strong>Безопасная передача данных: </strong>Мы используем защищенные протоколы связи для обеспечения безопасной передачи ваших данных через интернет.</li>
                <li><strong>Надежные поставщики услуг: </strong>Мы храним ваши данные у лучших и наиболее надежных компаний, обеспечивая высокие стандарты безопасности.</li>
            </ul>
        </div>
    </div>

    <div class="section">
        <div>
            <h2>Распространение вашей информации</h2>
            <p>Ваша информация не передается третьим лицам, за исключением случаев, описанных в этой политике конфиденциальности. Мы можем передавать вашу информацию нашим поставщикам услуг, которые инструктируются обрабатывать ваши данные только в соответствии с нашими указаниями.</p>
        </div>
    </div>

    <div class="section">
        <div>
            <h2>Ваши права на защиту данных</h2>
            <ul>
                <li>Право на доступ, обновление или удаление информации...</li>
                <!-- Additional items -->
            </ul>
        </div>
    </div>

    <div class="section">
        <div>
            <h2>Изменения в этой политике конфиденциальности</h2>
            <p>Мы можем время от времени обновлять нашу политику конфиденциальности...</p>
        </div>
    </div>

    <div class="section">
        <div>
            <h2>Свяжитесь с нами</h2>
            <p>Если у вас есть вопросы или опасения относительно наших практик конфиденциальности, пожалуйста, свяжитесь с нами по support@ascoach.</p>
        </div>
    </div>
</div>

{% endblock %}
